/*login & signup stuff*/
.login-bg {
    background-color: #292931;
    padding: 20px;
}

#login{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

#login h2 {
    text-align: center;
    color: white;
    font-size: 35px;
    padding-bottom: 10px;
}

.text-input {
    color: black;
}

.btn-text {
    color: white;
}

#login input {
    display: block;
    width: 320px;
    height: 40px;
    padding: 10px;
    font-size: 14px;
    background-color: rgba(0,0,0,0,3);
    outline: none;
    border: 1px solid rgba(0,0,0,0,3);
    box-shadow: inset 0px -5px 45px rgba(100,100,100,0.2), 0px 1px 1px rgba(255,255,255,0.2);
    margin-bottom: 10px;
}

.login-btn {
    background: #55acee;
    font-size: 18px;
    text-align: center;
    width: 100%;
    border: none;
    vertical-align: middle;
}
.login-btn:active
{
    background:#36729c;
}

.google-btn {
    background-color: #d62d20;
    color: white;
    font-size: 18px;
    text-align: center;
    border: none;
    vertical-align: middle;
}
.google-btn:active
{
    background:#a82219;
}

#login-switch {
    text-align: center;
    color: white;
    font-size: 15px;
    padding-bottom: 10px;
}

.error p {
    color: red;
}