#navbar{
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 1;
  background-color: gray;
  border-bottom: 2px solid #0575e6;
}

#navbar .container{
  margin: 0px auto;
  position: relative;
  padding: 0px;
}

.header-right{
  position: relative;
  float: right;
}

.header-left{
  position: relative;
  float: left;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
  
ul.topnav li {float: left;}
  
ul.topnav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
  
ul.topnav li a:hover:not(.active) {background-color: white;}
  
/*ul.topnav li a.active {background-color: #4CAF50;}*/
  
@media screen and (max-width: 600px) {
  .header-left, .header-right{ float: none; overflow: hidden}

  ul.topnav li {float: none; }
}