$breakpoint-1: 1200px;
$breakpoint-2: 800px;

$colour-bg-1: white;
$colour-bg-2: #292931;
$colour-bg-3: #0575e6;
$colour-text-1: black;
$colour-text-2: white;
$colour-error: red;
$colour-button-hover-1:#ddd;